.wrapper {
  display: grid;
  grid-auto-columns: 50%;
  grid-template-areas: "a a";
  height: 100vh;
}
#rightFront {
  background-color: rgb(15, 15, 15);
}
#leftFront {
  background-color: rgb(221, 125, 0);
}
#navBar {
  top: 0%;
  width: 100%;
  height: 12%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  display: inline-block;
  position: absolute;
}
#nameText{
  left:2%;
  position: absolute;
  top: 15%;
}
.navGrid {
  display: grid;
  grid-auto-columns: 33.33%;
  grid-template-areas: "a a a";
}
html,body{
  height: 100%;
  margin: 0;
}