.wrapper {
  display: grid;
  grid-auto-columns: 50%;
  grid-template-areas: "a a";
  height: 100vh;
}
#rightFront {
  background-color: rgb(27, 27, 27);
}
#leftFront {
  background-color: rgb(0, 140, 221);
  color: rgb(34, 34, 34);
}
.link {
  line-height: 70px;
  vertical-align: middle;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navBar {
  top: 0%;
  width: 100%;
  height: 70px;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  display: inline-block;
  position: absolute;
}
.skillsGrid {
  text-align: center;
  position: relative;
  margin-top: 25%;
  display: grid;
  grid-auto-columns: 33.33%;
  grid-template-areas: "a a a";
}
#skillsText {
  text-align: center;
  position: relative;
  color: rgb(226, 226, 226);
  top: 15%;
}
h1, h2, h3, h4 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
p {
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}
#portfolio {
  font-size: large;
}
#nameText{
  margin-left: 5%;
  position: relative;
  top: 15%;
}
#aboutMeDiv {
  margin-left: 5%;
  position: relative;
  top: 25%;
}
#otherText {
  color: rgb(226, 226, 226);
}
#languagesText {
  color: rgb(226, 226, 226);
}
#educationText {
  color: rgb(226, 226, 226);
}
.navGrid {
  display: grid;
  grid-auto-columns: 33.33%;
  grid-template-areas: "a a a";
}
html,body{
  height: 100%;
  margin: 0;
}