#linksPage {
    height: 100vh;
    background-color: rgb(233, 233, 233);
}
#linksText {
    font-size: larger;
    margin-bottom: 35px;
}
#linksDiv {
    text-align: center;
    position: relative;
    top: 38%;
}
#linkedinlogo {
    height: 32px;
    padding-left: 5px;
}
html,body{
    height: 100%;
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }
  ::-webkit-scrollbar {
    display: none;
}