#mainDiv {
    height: 100%;
}
#titleDiv {
    background-color: rgb(0, 0, 0);
    height: 100px;
    margin-bottom: 120px;
    text-align: center;
}
#titleText {
    display: inline-block;
    color: #fdde2f;
    font-family: monospace;
    font-size: 25px;
    margin: 35px;
}
#whiteTitleText {
    display: inline-block;
    color: ghostwhite;
    font-family: monospace;
    font-size: 25px;
    margin: 35px;
}
#contactInfo {
    margin-top: 120px;
    background-color: black;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contactText {
    margin: 20px;
    color: ghostwhite;
    font-size: 18px;
    font-family: monospace;
}
html,body{
    margin: 0;
    padding: 0;
  }